*~
*.save[0-9]*
dist-newstyle
glean/gen-hs2/
glean/gen-cpp2/
glean/lib/gen-hs2/
glean/lib/if/gen-cpp2/
glean/hs/Glean/RTS/Bytecode/Gen
glean/rts/bytecode/gen
glean/schema/hs
glean/schema/thrift
glean/schema/v[0-9]*
