<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="arvr" value="../../../../arvr/csharp/third_party/" />
        <add key="ovrsource-legacy" value="../../../../ovrsource-legacy/unity/socialvr/_tools/third_party/" />
    </packageSources>
</configuration>
