name: CI-ARM64
on: [push]

jobs:
  ci-arm64:
    strategy:
      fail-fast: false
      matrix:
        ghc: [8.10.7]
    runs-on: [self-hosted, linux, ARM64]
    container:
      # built from hsthrift/.github/workflows/Dockerfile.arm64v8
      image: ghcr.io/donsbot/hsthrift/ci-base:arm64
      options: --cpus 4
    steps:
      - name: Clean up old container
        run: |
          rm -rf "$HOME"/.hsthrift
          rm -rf "$HOME"/.cabal
          rm -rf "$HOME"/.ghcup/bin
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install libxxhash
        run: apt-get install -y libxxhash-dev
      - name: Install GHC ${{ matrix.ghc }}
        run: ghcup install ghc ${{ matrix.ghc }} --set --force
      - name: Install cabal-install 3.6
        run: ghcup install cabal -u https://downloads.haskell.org/~cabal/cabal-install-3.6.0.0/cabal-install-3.6.0.0-aarch64-linux-deb10.tar.xz 3.6.0.0 --set
      - name: Add GHC and cabal to PATH
        run: echo "$HOME/.ghcup/bin" >> "$GITHUB_PATH"
      - name: Fetch hsthrift and build folly, fizz, wangle, fbthrift, rocksdb
        run: ./install_deps.sh --threads 6
      - name: Nuke build artifacts
        run: rm -rf /tmp/fbcode_builder_getdeps-Z__wZGleanZGleanZhsthriftZbuildZfbcode_builder-root/
      - name: Add thrift compiler to path
        run: echo "$HOME/.hsthrift/bin" >> "$GITHUB_PATH"
      - name: Populate hackage index with new packages
        run: cabal update
      - name: Build hsthrift and Glean
        run: make
      - name: Build glass
        run: make glass
      - name: Run tests
        run: make test
