name: CI-Clang
on: [push, pull_request]

env:
  LANG: en_US.UTF-8

jobs:
  ci-clang:
    strategy:
      fail-fast: false
      matrix:
        ghc: [8.10.7]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/donsbot/hsthrift/ci-base:clang11rocksdb
      options: --cpus 2 --security-opt=seccomp=unconfined
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install additional tools
        run: |
          apt-get update
          apt-get install -y libxxhash-dev wget unzip

      - name: Make utf8 default locale
        run: |
          apt-get install -y locales
          locale-gen en_US.UTF-8
          update-locale LANG=en_US.UTF-8

      - name: Install GHC ${{ matrix.ghc }}
        run: ghcup install ghc ${{ matrix.ghc }} --set
      - name: Install cabal-install
        run: ghcup install cabal -u https://downloads.haskell.org/cabal/cabal-install-3.6.2.0/cabal-install-3.6.2.0-x86_64-linux-deb10.tar.xz 3.6.2.0 --set
      - name: Add GHC and cabal to PATH
        run: echo "$HOME/.ghcup/bin" >> "$GITHUB_PATH"

      - name: Install indexer (flow)
        run: |
          export FLOW=0.175.1
          wget "https://github.com/facebook/flow/releases/download/v${FLOW}/flow-linux64-v${FLOW}.zip"
          unzip "flow-linux64-v${FLOW}.zip"
          mkdir -p "$HOME"/.hsthrift/bin && mv flow/flow "$HOME"/.hsthrift/bin

      - name: Install indexer (typescript)
        run: |
          apt-get install -y yarnpkg
          yarnpkg global add @sourcegraph/lsif-tsc

      - name: Install indexer (go)
        run: |
          export GOLANG=1.17.8
          export LSIFGO=1.7.6
          mkdir go-install; cd go-install
          wget "https://go.dev/dl/go${GOLANG}.linux-amd64.tar.gz"
          tar -C "$HOME/.hsthrift" -xzf  "go${GOLANG}.linux-amd64.tar.gz"
          wget "https://github.com/sourcegraph/lsif-go/releases/download/v1.7.6/lsif-go_${LSIFGO}_linux_amd64.tar.gz"
          tar xzf "lsif-go_${LSIFGO}_linux_amd64.tar.gz"
          mkdir -p "$HOME"/.hsthrift/bin && mv lsif-go "$HOME"/.hsthrift/bin
          echo "$HOME/.hsthrift/go/bin" >> "$GITHUB_PATH"

    # disable rust indexing, as rustc puts different gcc and llvm versions back
    #     on the system, defeating our goal of building only with clang
    # no hhvm builds yet for jammy/ubuntu 22.00, so we skip the hack indexer

      - name: Fetch hsthrift and build folly, fizz, wangle, fbthrift
        run: ./install_deps.sh --use-system-libs
      - name: Nuke build artifacts
        run: rm -rf /tmp/fbcode_builder_getdeps-Z__wZGleanZGleanZhsthriftZbuildZfbcode_builder-root/
      - name: Add thrift compiler to path
        run: echo "$HOME/.hsthrift/bin" >> "$GITHUB_PATH"
      - name: Populate hackage index
        run: cabal update
      - name: Build hsthrift and Glean
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" make
      - name: Build glass
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" make glass
      # no hhvm/hack or typescript indexer, so we run without hack regression tests
      - name: Run tests
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" cabal test glean:tests -f-hack-tests -f-rust-tests
