# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: CI
on: [push, pull_request]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        ghc: [8.4.4, 8.6.5, 8.8.4, 8.10.7]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/facebookincubator/hsthrift/ci-base:ghcup
      options: --cpus 2 --security-opt=seccomp=unconfined
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install ninja
        run: apt install ninja-build
      - name: Install libxxhash, clang, llvm, wget, unzip
        run: apt-get update && apt-get install -y libxxhash-dev wget unzip clang-11 libclang-11-dev llvm-11-dev
      - name: Remove libfmt
        run: apt-get remove -y libfmt-dev
      - name: Install GHC ${{ matrix.ghc }}
        run: ghcup install ghc ${{ matrix.ghc }} --set
      - name: Install cabal-install 3.6
        run: ghcup install cabal -u https://downloads.haskell.org/~cabal/cabal-install-3.6.0.0/cabal-install-3.6.0.0-x86_64-linux.tar.xz 3.6.0.0 --set
      - name: Add GHC and cabal to PATH
        run: echo "$HOME/.ghcup/bin" >> "$GITHUB_PATH"
      - name: Install indexer (flow)
        run: |
          export FLOW=0.173.0
          wget "https://github.com/facebook/flow/releases/download/v${FLOW}/flow-linux64-v${FLOW}.zip"
          unzip "flow-linux64-v${FLOW}.zip"
          mkdir -p "$HOME"/.hsthrift/bin && mv flow/flow "$HOME"/.hsthrift/bin
      - name: Install indexer (hack)
        run: |
          apt-get update
          apt-get install -y software-properties-common apt-transport-https
          apt-key adv --recv-keys --keyserver hkp://keyserver.ubuntu.com:80 0xB4112585D386EB94
          add-apt-repository https://dl.hhvm.com/ubuntu
          apt-get update
          apt-get install -y hhvm-nightly
      - name: Fetch hsthrift and build folly, fizz, wangle, fbthrift, rocksdb
        run: ./install_deps.sh
      - name: Nuke build artifacts
        run: rm -rf /tmp/fbcode_builder_getdeps-Z__wZGleanZGleanZhsthriftZbuildZfbcode_builder-root/
      - name: Add thrift compiler and indexers to path
        run: echo "$HOME/.hsthrift/bin" >> "$GITHUB_PATH"
      - name: Populate hackage index
        run: cabal update
      - name: Build hsthrift and Glean
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" make
      - name: Build glass
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" make glass
      - name: Run tests
        run: env LD_LIBRARY_PATH="$HOME/.hsthrift/lib" PKG_CONFIG_PATH="$HOME/.hsthrift/lib/pkgconfig" make test
  # check the vscode extension builds
  vscode:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install Node
        uses: actions/setup-node@v2
      - name: Build VS Code extension
        run: npx vsce package
        working-directory: glean/vscode
      - name: Archive .vsix extension file
        uses: actions/upload-artifact@v2
        with:
          name: glean-vsix
          path: |
            glean/vscode/*.vsix
